# TIPOS DE DATOS EN PYTHON

Tipos de datos:

- Integer: Tipo de dato para números enteros, ya sean positivos o negativos.

- Float: Tipo de dato para números con precisión decimal, pueden ser negativos o positivos.

- String: Tipo de dato para cadena de texto con caracteres alfanuméricos. En Python se colocan entre comillas.

- Boolean: Tipo de dato que solo puede tener dos valores, True (Verdadero) o False (Falso)

Nota: La función type() regresa el tipo de dato de una variable o valor

Veamos algunos ejemplos

In [ ]:
print(type(34))

In [ ]:
print(type("fabian"))

In [ ]:
print(type("67"))

In [ ]:
print(type(45.9))

<class 'float'>

- Los datos booleanos están dados por : False y True.

- Estas son palabras restringuidas.

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
print(type(True))

# OPERADORES ARITMÉTICOS EN PYHTON

- Suma : +

- Resta: -

- Multiplicación: *

- División: /

- Potencia: ** , ^

- División entera: //

- Residuo: %

Veamos algunos ejemplos

In [ ]:
print(34+56)
print(30-23)
print(34*34)
print(100/3)
print(23//5)
print(23%5)

90
7
1156
33.333333333333336
4
3

La función de redondeo en Python es: round(número, decimales)

In [ ]:
round(4.5689)

5

In [ ]:
round(4.456783,3)

4.457

In [ ]:
print("fabian"+"python")

fabianpython

Observe que el significado de la suma de cadenas de texto es la concatenación de las cadenas. Es decir, pegarlas.

- Ahora, qué sucede si sumamos un número con una cadena de texto.

In [ ]:
print("fabian"+ 6)

In [ ]:
print("56"+56)

Lo anterior "56"+36 también produce error ya que una es cadena de texto y el otro es un valor numérico.

OBSERVACIÓN DE LA FUNCIÓN *print*

In [ ]:
name = "Hugo" # defino una variable
apellido = "sanchez"
edad = 24
print("Me llamo", name, apellido, "y tengo", edad, "años")

Me llamo Hugo sanchez y tengo 24 años

In [ ]:
# metodo f de print
print(f"Me llamo {name} {apellido} y tengo {edad} años")

Me llamo Hugo sanchez y tengo 24 años

In [ ]:
# método format de print
print("Me llamo {} {} y tengo {} años".format(name, apellido, edad))

# Gestión de cadenas (*strings*)

Si nuestro objetivo es aprende a programar en Python para procesar texto, las **cadenas de caracteres** van a ser el principal tipo de dato que vamos a manejar. Como hemos visto antes, las cadenas se identifican en Python porque se declaran entre comillas dobles (`"cadena"`) o simples (`'cadena'`) o, si las cadenas son muy largas y ocupan más de una línea, entre triples pares de comillas. 

Algunos ejemplos de cadenas:

In [1]:
nombre = "Godofredo de Orléans"

oracion = 'GREEN COLORLESS IDEAS SLEEP FURIOUSLY'

parrafo = '''En un lugar de la Mancha, de cuyo nombre no quiero acordarme, 
no ha mucho tiempo que vivía un "hidalgo" de los de lanza en astillero, 
adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca 
que carnero, salpicón las más noches, duelos y quebrantos los sábados, 
lentejas los viernes, algún palomino de añadidura los domingos, consumían 
las tres partes de su hacienda.'''

In [ ]:
numero1 = 45852236
numero2 = '45852236'

# podemos realizar operaciones aritméticas entre números
print(numero1 + 1)

# pero no entre cadenas y números: esto da un error
print(numero2 + 1)

In [ ]:
# sin embargo, sí puedo utilizar el operador '+' para concatenar varias cadenas
print(numero2 + '1')
print('¡Hola' + ' ' + 'amigo!')

print("otra", "vez " * 3)
print("otra" + "vez" * 3)

In [ ]:
## Conversión ente cadenas y enteros

Otra manera de generar cadenas de texto es utilizando la función `str()` con un argumento que no sea una cadena. Fíjate en los ejemplos:

In [ ]:
# guardamos en numero1 un entero
numero1 = 45852236
# en numero2, guardamos el valor de numero1 convertido a cadena de texto con la función str()
numero2 = str(numero1)

# con la función type() imprimimos por pantalla el tipo de dato que guarda una variable
print(type(numero1)) # es un entero: int
print(type(numero2)) # es una cadena: str


print("\nOtros tipos de datos son:")
print(type(2.3))
print(type(True))
print(type(""))

Para hacer el paso contrario, es decir, transformar cadenas en enteros, podemos utilizar la función `int()`.

In [ ]:
# guardamos en numero1 una cadena
numero1 = '45852236'
# en numero2, guardamos el valor de numero1 convertido a entero con la función int()
numero2 = int(numero1)

# con la función type() imprimimos por pantalla el tipo de dato que guarda una variable

print(type(numero1)) # es una cadena: str
print(type(numero2)) # es un entero: int

# esto no va a funcionar :-/ no podemos convertir cadenas a enteros
otracosa = "hola amigo"
print(int(otracosa))

In [ ]:
Para hacer el paso contrario, es decir, transformar cadenas en enteros, podemos utilizar la función `int()`.

In [ ]:
oracion = "Todos los carros rojos tienen una alta probabilidad de venderse por encima del precio del mercado"
print(len(oracion))
print("por" in oracion)
print(oracion.startswith("Todos"))
print(oracion.endswith("Mercado"))
print(oracion.endswith("mercado"))

## TRANSFORMACIÓN DE TEXTO

- cadena.upper() : cambia todo a mayúscula

- cadena.lower() : cambia todo a minúscula

- cadena.capitalize() : Cambia la primera letra a mayúcula

- cadena. title() : cambia cada letra inicial a mayúscula

- cadena.replace("a", "b") : cambia la cadena "a" por la cadena "b"

In [ ]:
print(oracion.upper())
print(oracion.lower())
print(oracion.capitalize())
print(oracion.title())
print(oracion.replace(" ", "**"))

TODOS LOS CARROS ROJOS TIENEN UNA ALTA PROBABILIDAD DE VENDERSE POR ENCIMA DEL PRECIO DEL MERCADO
todos los carros rojos tienen una alta probabilidad de venderse por encima del precio del mercado
Todos los carros rojos tienen una alta probabilidad de venderse por encima del precio del mercado
Todos Los Carros Rojos Tienen Una Alta Probabilidad De Venderse Por Encima Del Precio Del Mercado
Todos**los**carros**rojos**tienen**una**alta**probabilidad**de**venderse**por**encima**del**precio**del**mercado

# LISTAS EN PYTHON

- Las listas son objetos que permiten almacenar más de un dato.

- Hacen parte de los **arrays** : son arreglos unidimensionales

- Almacenan información de una sola variable

- Para generar una lista usamos : [] o *list([])*

In [ ]:
lista1 = [4,6,7,1,2,3,4,10]
print(lista1)

In [ ]:
lista2 = list([3,6,7,1,2,5,9,0,18])
print(lista2)

In [ ]:
print(len(lista1))
print(len(lista2))
print(type(lista1))

In [ ]:
lista3 = [1,3,4, "34" , "fabian" , 4.7]
print(lista3)

## ACCEDER A LOS ELEMENTOS DE LA LISTA

Para acceder a los elementos de la lista usamos lista[n]

In [ ]:
print(lista3[0])
print(lista3[1])
print(lista3[2])
print(lista3[3])
print(lista3[4])
print(lista3[5])

In [ ]:
# si colocamos negativos se cuenta de atrás hacia adelante
print(lista3[-1])
print(lista3[-2])

## RECORRIENDO LAS LISTAS CON ESTRUCTURAS DE CONTROL

- La estructura de control básica "for" tiene la siguiente forma

for() --- in ---:

     print(---)

In [ ]:
# Recorriendo los elementos
for elemento in lista3:
  print(elemento)

In [ ]:
# Recorriendo los índices
for i in range(len(lista3)):
  print(lista3[i])

MÁS INSTRUCCIÓNES CON LISTAS

- append() : agregar elementos en la última posición.

- pop() o remove() : eliminar elementos de la lista

In [ ]:
# agregar con append
lista5 = [3,5,"fabian"]
lista5.append("Hola")
print(lista5)

In [ ]:
# quitar un elemento de acuerdo con el índice deseado
lista6 = list(["fabian", "carlos", "er" , "23"])
lista6.pop(2)
print(lista6)

In [ ]:
# quitar con remove de acuerdo a un elemento de la lista
lista7 = ["carro" , "casa" , "beca"]
lista7.remove("beca")
print(lista7)

In [ ]:
lista3.pop()

In [ ]:
print(lista3)

In [ ]:
# para cambiar los elementos de una lista
lista8 = ["fabian", "andrea" , 34 , "hola" , 45]
lista8[0] = "carlos"
print(lista8)

['carlos', 'andrea', 34, 'hola', 45]

In [ ]:
l=[1,4]
for elemento in l:
  print(lista8[elemento])

## PARA ANALIZAR ESTA ESTRUCTURA DE CONTROL

In [ ]:
nombres = []
identificaciones = []

# Definimos un tamaño para las listas
# Lo puedes cambiar si quieres
tamaño = 3

# Leemos los datos y los agregamos a la lista
for i in range(tamaño):
    print("Ingrese los datos de la persona", i + 1)
    nombre = input("Nombre: ")
    identificación = input("Identificación: ")

    nombres.append(nombre)
    identificaciones.append(identificación)

# Ahora mostremos las listas
for i in range(tamaño):
    print("Mostrando los datos de la persona", i + 1)

    print("Nombre:", nombres[i])
    print("Identificación:", identificaciones[i])

In [ ]:
l=[3,5,6,7,2,4,6,7,90]
print(l[0:5])

[3, 5, 6, 7, 2]

In [ ]:
# se puede crear usando la instrucción dict([])
d2 = dict([("Nombre", "fabian"),("Edad", 24),("Sexo", "Masculino"),("Cédula", 80097865)])
print(d2)

In [ ]:
# se puede crear usando dict() así:
d3 = dict(Nombre = "Fabian",
          Edad = 24,
          Sexo = "Masculino",
          Cédula = 80987656)
print(d3)

{'Nombre': 'Fabian', 'Edad': 24, 'Sexo': 'Masculino', 'Cédula': 80987656}

In [ ]:
d4 = dict(Nombre = ["fabian", "andres", "carlos"],
          Edad = [23,34,45])
print(d4)

{'Nombre': ['fabian', 'andres', 'carlos'], 'Edad': [23, 34, 45]}

In [ ]:
d4["Nombre"][2]

'carlos'

## ACCEDER Y MODIFICAR ELEMENTOS DEL DICCIONARIO

- Para acceder a un elemento del diccionario usamos la instrucción

In [ ]:
print(d3["Nombre"])

Fabian

In [ ]:
print(d4["Nombre"])

['fabian', 'andres', 'carlos']

In [ ]:
d4["Nombre"][1] = "Hugo"
print(d4)

In [ ]:
# ¿Qué hace la siguiente estructura?
for elemento in d3:
  print(elemento)

Nombre
Edad
Sexo
Cédula

In [ ]:
# ¿Qué hace la siguiente estructura?
for elemento in d3:
  print(d3[elemento])

Fabian
24
Masculino
80987656

# DATA.FRAME

- Son arreglos bidimensionales: fila y columna

Algunas instrucciones útiles:

**df.info()** : Devuelve información (número de filas, número de columnas, índices, tipo de las columnas y memoria usado) sobre el DataFrame df.

**df.shape** : Devuelve una tupla con el número de filas y columnas del DataFrame df.

**df.size** : Devuelve el número de elementos del DataFrame.

**df.columns** : Devuelve una lista con los nombres de las columnas del DataFrame df.

**df.index** : Devuelve una lista con los nombres de las filas del DataFrame df.

**df.dtypes** : Devuelve una serie con los tipos de datos de las columnas del DataFrame df.

**df.head(n)** : Devuelve las n primeras filas del DataFrame df.

**df.tail(n)** : Devuelve las n últimas filas del DataFrame df.

<center><FONT SIZE=8 COLOR="Green"> Carga de Datos </FONT></center>

Vamos a cargar datos desde el drive en diferentes formatos.

In [20]:
#para acceder a los datos del drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#para importar la librería pandas.
import pandas as pd

In [ ]:
datos1 = pd.read_csv("/content/drive/MyDrive/2. Sesión 1. Python. Fundamentos/APARTAMENTOS.csv")

In [ ]:
# no es recomendable imprimir todo el data.frame
datos1

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
0,1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no
1,2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si
2,3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no
3,4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no
4,5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si
...,...,...,...,...,...,...,...,...,...,...,...,...
689,690,498.0,180.00,laureles,5,4,3,si,si,0.570,233.784000,si
690,691,508.0,209.00,laureles,6,4,3,si,si,0.450,258.850000,si
691,692,550.0,149.00,laureles,6,3,4,no,si,0.747,326.157000,si
692,693,630.0,179.00,laureles,5,3,3,si,si,0.340,324.114000,si
693,694,1350.0,494.00,laureles,5,3,4,si,si,1.600,320.000000,si

In [ ]:
datos1.head()

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
0,1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no
1,2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si
2,3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no
3,4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no
4,5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si

In [ ]:
# la inscrucción .head() permite mostrar la cabeza del dataframe.
datos1.head(10)

<center><FONT SIZE=8 COLOR="blue"> Exploración de Datos </FONT></center>

Vamos a usar algunas instrucciones para exploración de data.frames.

In [ ]:
datos2 = pd.read_json("/content/drive/MyDrive/Colab Notebooks/espectro.json")
datos2.head(7)

In [ ]:
datos3 = pd.read_csv("/content/drive/MyDrive/2. Sesión 1. Python. Fundamentos/TABLA_PERSONAS.txt", sep = "\t")
datos3.head(6)

,PERSONA,EDAD,SEXO,ESTATURA,NIVEL_ESCOLAR,MARCA_DE_AUTO,NUMERO_DE_HIJOS,SALARIO
0,PERSONA_1,21.0,M,"1,54",MAESTRIA,AUDI,0.0,1200000.0
1,PERSONA_2,26.0,F,"1,55",PROFESIONAL,RENAULT,5.0,1250000.0
2,PERSONA_3,30.0,F,"1,6",DOCTORADO,BMW,2.0,900000.0
3,PERSONA_4,31.0,F,"1,7",PROFESIONAL,RENAULT,2.0,800000.0
4,PERSONA_5,35.0,M,"1,71",MAESTRIA,AUDI,1.0,950000.0
5,PERSONA_6,65.0,M,"1,8",MAESTRIA,AUDI,1.0,2000000.0

In [ ]:
# tipo de elemento
type(datos1)

pandas.core.frame.DataFrame

In [ ]:
# para ver la dimensión del conjunto de datos usamos .shape : filas x columnas
datos1.shape

(694, 12)

In [ ]:
# para ver la cabeza de los datos
datos1.head(7)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
0,1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no
1,2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si
2,3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no
3,4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no
4,5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si
5,6,140.0,71.00,norte,3,3,2,no,si,0.120,31.145508,si
6,7,145.0,54.83,norte,3,2,2,si,si,0.140,27.000000,si

In [ ]:
# para ver la cola de los datos
datos1.tail(7)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
687,688,450.0,204.0,laureles,5,4,4,no,si,0.3800,280.000,si
688,689,470.0,248.0,laureles,5,3,2,no,si,0.4809,345.376,si
689,690,498.0,180.0,laureles,5,4,3,si,si,0.5700,233.784,si
690,691,508.0,209.0,laureles,6,4,3,si,si,0.4500,258.850,si
691,692,550.0,149.0,laureles,6,3,4,no,si,0.7470,326.157,si
692,693,630.0,179.0,laureles,5,3,3,si,si,0.3400,324.114,si
693,694,1350.0,494.0,laureles,5,3,4,si,si,1.6000,320.000,si

In [ ]:
# para ver el nombre de las columnas usamos .columns
datos1.columns

Index(['Unnamed: 0', 'precio', 'mt2', 'ubicacion', 'estrato', 'alcobas',
       'banos', 'balcon', 'parqueadero', 'administracion', 'avaluo',
       'terminado'],
      dtype='object')

In [ ]:
# podemos ver que tipos de elementos tiene el conjunto de datos con .dtypes
datos1.dtypes

Unnamed: 0          int64
precio            float64
mt2               float64
ubicacion          object
estrato             int64
alcobas             int64
banos               int64
balcon             object
parqueadero        object
administracion    float64
avaluo            float64
terminado          object
dtype: object

In [ ]:
# es un resumen de las variables y su clasificación. Además, podemos identificar datos faltantes (NA) en cada una de ellas.
datos1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694 entries, 0 to 693
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      694 non-null    int64
 1   precio          694 non-null    float64
 2   mt2             694 non-null    float64
 3   ubicacion       694 non-null    object
 4   estrato         694 non-null    int64
 5   alcobas         694 non-null    int64
 6   banos           694 non-null    int64
 7   balcon          694 non-null    object
 8   parqueadero     694 non-null    object
 9   administracion  694 non-null    float64
 10  avaluo          694 non-null    float64
 11  terminado       694 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 65.2+ KB

In [ ]:
# podemos revisar las estadísticas generales de las variables cuantitativas (numéricas)
datos1.describe()

,Unnamed: 0,precio,mt2,estrato,alcobas,banos,administracion,avaluo
count,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000
mean,347.500000,317.762739,120.943818,4.651297,2.910663,2.289625,0.263556,182.636593
std,200.484829,247.614914,74.695493,1.208205,0.763962,0.795718,0.251586,169.082384
min,1.000000,25.000000,26.000000,2.000000,1.000000,1.000000,0.000000,0.149000
25%,174.250000,160.000000,71.000000,4.000000,3.000000,2.000000,0.090000,73.000000
50%,347.500000,245.000000,97.500000,5.000000,3.000000,2.000000,0.201000,131.431500
75%,520.750000,380.000000,141.750000,6.000000,3.000000,3.000000,0.375000,234.051000
max,694.000000,1700.000000,500.000000,6.000000,14.000000,6.000000,2.280000,1540.620000

## ACCEDER A ELEMENTOS DEL DATAFRAME

Usamos la instrucción iloc o loc. La primera para acceder por la posición y la segunda para acceder por el nombre de la columna.

- datos.iloc[i,j] : elemento de la fila i y columna j.

- datos.iloc[i] : devuelve la fila i

- datos.iloc[lista i , lista j] : devuelve un data.frame con las filas en lista i y columnas en columna j. 

- datos.iloc[:, j] : devuelve toda columna j.

Si usamos la instrucción .loc

- datos.loc[name fila , name column]: es lo mismo anterior pero con los nombres.

- datos[name column] : devuelve las columnas en name columnas

- datos.columna : otra forma para acceder a una columna que en el nombre no tenga espacios en blanco.

In [ ]:
datos1.head(6)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
0,1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no
1,2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si
2,3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no
3,4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no
4,5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si
5,6,140.0,71.00,norte,3,3,2,no,si,0.120,31.145508,si

In [ ]:
datos1.iloc[1,2]

56.92

In [ ]:
datos1.iloc[3,9]

0.13

In [ ]:
# con la instrucción iloc podemos acceder a las filas y columnas por medio de los indices así
datos1.iloc[2] #datos de la fila

Unnamed: 0                3
precio                100.0
mt2                    66.4
ubicacion             norte
estrato                   3
alcobas                   2
banos                     2
balcon                   no
parqueadero              no
administracion          0.0
avaluo            15.738427
terminado                no
Name: 2, dtype: object

In [ ]:
datos1.iloc[5]

In [ ]:
# fila 2 y 8 con columna 4 y 5
datos1.iloc[[2,8],[4,5]]

   estrato  alcobas
2        3        2
8        4        4

In [ ]:
# filas de 2 a la 4 y columnas de la 4 a la 8
datos1.iloc[2:5 , 4:9]

   estrato  alcobas  banos balcon parqueadero
2        3        2      2     no          no
3        2        3      2     si          si
4        4        3      2     si          no

In [ ]:
datos1.iloc[8]

Unnamed: 0               9
precio               160.0
mt2                   93.0
ubicacion            norte
estrato                  4
alcobas                  4
banos                    2
balcon                  si
parqueadero             no
administracion         0.0
avaluo            28.95622
terminado               si
Name: 8, dtype: object

In [ ]:
# toda la columna 2
datos1.iloc[: , 2 ]

0       43.16
1       56.92
2       66.40
3       61.85
4       89.80
        ...
689    180.00
690    209.00
691    149.00
692    179.00
693    494.00
Name: mt2, Length: 694, dtype: float64

In [ ]:
# Podemos seleccionar varias columnas
datos1.iloc[ : , [3,5,7,9] ]

    ubicacion  alcobas balcon  administracion
0       norte        3     si           0.050
1       norte        2     si           0.069
2       norte        2     no           0.000
3       norte        3     si           0.130
4       norte        3     si           0.000
..        ...      ...    ...             ...
689  laureles        4     si           0.570
690  laureles        4     si           0.450
691  laureles        3     no           0.747
692  laureles        3     si           0.340
693  laureles        3     si           1.600

[694 rows x 4 columns]

# Veamos ejemplos con .loc

In [ ]:
datos1["precio"]

In [ ]:
datos1.precio

In [ ]:
datos1.loc[: , "precio"]

In [ ]:
# acceder al elemento posición 3 y variable "precio"
datos1.loc[3, "precio"]

In [ ]:
datos1.loc[2:5 , "balcon"]

In [ ]:
# elementos 4 a 8 y unas variables.
datos1.loc[4:8 , ["precio", "mt2", "banos"]]

In [ ]:
# Con la instrucción loc podemos acceder a las filas o columnas por el nombre o condición
datos1.loc[: , "precio"]

In [ ]:
# seleccionar varias variables del data frame
datos1.loc[: , ["precio" , "mt2", "balcon"]]

In [ ]:
# una columna
datos1["estrato"]

0      3
1      2
2      3
3      2
4      4
      ..
689    5
690    6
691    6
692    5
693    5
Name: estrato, Length: 694, dtype: int64

In [ ]:
# varias columnas
datos1[["estrato", "precio", "balcon"]]

In [ ]:
# seleccionar una variable pero pilas sin espacio
datos1.alcobas

In [ ]:
datos1["precio"] > 150

In [ ]:
datos1[datos1["precio"] > 150]

In [ ]:
datos1[(datos1.precio > 400) & (datos1.mt2 > 300)]

In [ ]:
datos1[(datos1.precio > 400) & (datos1.mt2 > 300)].shape

In [ ]:
# ¿Qué efecto tiene la siguiente línea?
datos1.loc[datos1.loc[: , "balcon"]=="si"].head(5)

In [ ]:
datos1[datos1.balcon == "si"].shape

In [ ]:
datos1[datos1["mt2"] > 150]

## Renombrar una columna

- Usamos la instrucción rename

datos.rename(columns={key : value, key : value}, inplace=True)

La instrucción inplace se usa para determinar si cambiamos el data.frame original.

In [ ]:
# renombrar una columna
datos1.rename(columns={"administracion" : "admon"}, inplace=True)
print(datos1.columns)
datos1.head(5)

In [ ]:
# renombrar varias columnas
datos1.rename(columns={"terminado" : "fin" , "parqueadero" : "pk"}, inplace=True)
datos1.head(5)

## Eliminar una columna o una fila

Para eliminar una columna usamos la instrucción .drop

datos1.drop("fila", axis = 1) : axis = 1 es por columna

In [ ]:
# quitamos la columna y no modificamos el data.frame
datos1.drop("Unnamed: 0", axis = 1, inplace = False)

In [ ]:
# quitamos varias columnas
datos1.drop(["mt2","precio"], axis = 1 , inplace = False)

In [ ]:
# seleccionamos las columnas numéricas
datos1.select_dtypes(exclude = object)

In [ ]:
# seleccionar los datos tipo object. 
datos1.select_dtypes(include = object)

## Añadir columnas a una DataFrame

datos["nombre"]= lista

In [ ]:
# añadir una columan en función de otras
datos1["nueva"] = datos1.precio/100
datos1.head(5)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
0,1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no,0.79
1,2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si,0.93
2,3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no,1.00
3,4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no,1.23
4,5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si,1.35

## Operaciones con columnas

- usaremos la instrucción df[columna].apply()

- min()

- max()

- mean()

- sum()

- cumsum()

- count() 

- value_counts()

- var()

- std()

- describe()

In [ ]:
print(datos1.precio.min())
print(datos1.precio.max())
print(datos1.precio.mean())
print(datos1.precio.var())
print(datos1.precio.sum())

In [ ]:
datos1.estrato.value_counts()

6    242
3    161
5    145
4    138
2      8
Name: estrato, dtype: int64

In [ ]:
datos1.describe()

,Unnamed: 0,precio,mt2,estrato,alcobas,banos,admon,avaluo,nueva
count,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000
mean,347.500000,317.762739,120.943818,4.651297,2.910663,2.289625,0.263556,182.636593,3.177627
std,200.484829,247.614914,74.695493,1.208205,0.763962,0.795718,0.251586,169.082384,2.476149
min,1.000000,25.000000,26.000000,2.000000,1.000000,1.000000,0.000000,0.149000,0.250000
25%,174.250000,160.000000,71.000000,4.000000,3.000000,2.000000,0.090000,73.000000,1.600000
50%,347.500000,245.000000,97.500000,5.000000,3.000000,2.000000,0.201000,131.431500,2.450000
75%,520.750000,380.000000,141.750000,6.000000,3.000000,3.000000,0.375000,234.051000,3.800000
max,694.000000,1700.000000,500.000000,6.000000,14.000000,6.000000,2.280000,1540.620000,17.000000

## Ordenar por una columna

- usamos la instrucción sort_values

In [ ]:
# ordenar por una columna
datos1.sort_values("precio", ascending = True).head(6)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
644,645,25.0,118.00,laureles,5,3,2,si,no,0.000,95.885,si,0.25
347,348,45.0,53.00,aburra sur,3,3,1,si,no,0.000,23.899,si,0.45
10,11,47.0,43.00,occidente,2,2,1,no,no,0.000,16.486,no,0.47
11,12,53.0,37.56,occidente,3,3,1,no,si,0.000,16.486,si,0.53
348,349,63.0,43.00,aburra sur,3,3,1,no,no,0.050,41.468,si,0.63
583,584,67.0,41.00,centro,3,2,1,no,no,0.072,32.045,si,0.67

In [ ]:
datos1.sort_values("avaluo", ascending =False).head(6)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
615,616,210.0,210.0,centro,4,3,2,si,si,0.7591,1540.620,si,2.1
614,615,200.0,210.0,centro,5,3,2,si,no,0.5030,1518.140,si,2.0
486,487,260.0,93.0,aburra sur,5,3,2,si,si,0.2350,1260.000,si,2.6
333,334,1200.0,309.0,poblado,6,4,5,si,si,0.7260,726.445,si,12.0
341,342,1400.0,373.0,poblado,6,3,3,si,si,0.7490,713.786,si,14.0
329,330,1100.0,500.0,poblado,6,3,3,si,si,1.6000,713.130,si,11.0

In [ ]:
datos1.sort_values("ubicacion").head(6)

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
419,420,175.0,65.0,aburra sur,3,3,2,si,si,0.154,46.291597,si,1.75
457,458,220.0,72.0,aburra sur,4,2,2,si,si,0.211,96.390800,si,2.20
458,459,220.0,73.0,aburra sur,4,3,2,si,si,0.000,96.390800,si,2.20
459,460,220.0,89.0,aburra sur,5,3,2,no,si,0.000,143.000000,si,2.20
460,461,225.0,100.0,aburra sur,3,4,3,si,si,2.280,108.600000,si,2.25
461,462,230.0,86.0,aburra sur,3,3,2,si,si,0.215,102.000000,si,2.30

## Agrupación en un DataFrame

datos.groupby(columns).groups

In [ ]:
# agrupar por ubicación : diccionario con las key : datos
datos1.groupby("ubicacion").groups

{'aburra sur': [347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, ...], 'belen guayabal': [516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582], 'centro': [583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620], 'laureles': [621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693], 'norte': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 'occidente': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78], 'poblado': [79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, ...]}

In [ ]:
# selección la categoría laureles de ubicación.
datos1.groupby("ubicacion").get_group("laureles")

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
621,622,135.0,66.0,laureles,5,2,1,si,no,0.000,55.076,no,1.35
622,623,140.0,65.0,laureles,4,2,1,no,si,0.112,55.000,no,1.40
623,624,165.0,44.0,laureles,5,2,1,si,si,0.173,68.398,si,1.65
624,625,170.0,93.0,laureles,4,3,3,si,si,0.105,107.342,si,1.70
625,626,180.0,91.0,laureles,5,3,2,no,si,0.241,129.000,no,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,690,498.0,180.0,laureles,5,4,3,si,si,0.570,233.784,si,4.98
690,691,508.0,209.0,laureles,6,4,3,si,si,0.450,258.850,si,5.08
691,692,550.0,149.0,laureles,6,3,4,no,si,0.747,326.157,si,5.50
692,693,630.0,179.0,laureles,5,3,3,si,si,0.340,324.114,si,6.30
693,694,1350.0,494.0,laureles,5,3,4,si,si,1.600,320.000,si,13.50

In [ ]:
datos1[datos1.ubicacion == "laureles"]

,Unnamed: 0,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,pk,admon,avaluo,fin,nueva
621,622,135.0,66.0,laureles,5,2,1,si,no,0.000,55.076,no,1.35
622,623,140.0,65.0,laureles,4,2,1,no,si,0.112,55.000,no,1.40
623,624,165.0,44.0,laureles,5,2,1,si,si,0.173,68.398,si,1.65
624,625,170.0,93.0,laureles,4,3,3,si,si,0.105,107.342,si,1.70
625,626,180.0,91.0,laureles,5,3,2,no,si,0.241,129.000,no,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,690,498.0,180.0,laureles,5,4,3,si,si,0.570,233.784,si,4.98
690,691,508.0,209.0,laureles,6,4,3,si,si,0.450,258.850,si,5.08
691,692,550.0,149.0,laureles,6,3,4,no,si,0.747,326.157,si,5.50
692,693,630.0,179.0,laureles,5,3,3,si,si,0.340,324.114,si,6.30
693,694,1350.0,494.0,laureles,5,3,4,si,si,1.600,320.000,si,13.50

Resumen NLTK: Acceso a corpus de texto y recursos léxicos

Este resumen se corresponde con el capítulo 2 del NLTK Book Accessing Text Corpora and Lexical Resources. La lectura del capítulo es muy recomendable.

Corpus no anotados: el Proyecto Gutenberg

NLTK no da acceso directo a varias colecciones de textos. Para empezar, vamos a juguetear un poco con los libros del Proyecto Gutenberg, un repositorio público de libros libres y/o sin derechos de copyright en vigor. Antes de nada, necesitamos importar el módulo gutenberg que está en la librería nltk.corpus.

In [4]:
from nltk.corpus import gutenberg

Podemos listar el catálogo de libros del Proyecto Gutenberg disponibles desde NLTK a través del método `nltk.corpus.gutenberg.fileids`

In [6]:
import nltk
nltk.download("all")

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package alpino to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/alpino.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping
[nltk_data]    |       taggers/averaged_perceptron_tagger_ru.zip.
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/basque_grammars.zip.
[nltk_data]    | Downloading package bcp47 to /root/nltk_data...
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/biocreative_ppi.zip.
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/bllip_wsj_no_aux.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package brown_tei to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown_tei.zip.
[nltk_data]    | Downloading package cess_cat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_cat.zip.
[nltk_data]    | Downloading package cess_esp to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_esp.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/comparative_sentences.zip.
[nltk_data]    | Downloading package comtrans to /root/nltk_data...
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package conll2007 to /root/nltk_data...
[nltk_data]    | Downloading package crubadan to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/crubadan.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package dolch to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dolch.zip.
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/europarl_raw.zip.
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package floresta to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/floresta.zip.
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v15.zip.
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v17.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package indian to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/indian.zip.
[nltk_data]    | Downloading package jeita to /root/nltk_data...
[nltk_data]    | Downloading package kimmo to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/kimmo.zip.
[nltk_data]    | Downloading package knbc to /root/nltk_data...
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/large_grammars.zip.
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/lin_thesaurus.zip.
[nltk_data]    | Downloading package mac_morpho to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mac_morpho.zip.
[nltk_data]    | Downloading package machado to /root/nltk_data...
[nltk_data]    | Downloading package masc_tagged to /root/nltk_data...
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/moses_sample.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package mte_teip5 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mte_teip5.zip.
[nltk_data]    | Downloading package mwa_ppdb to /root/nltk_data...
[nltk_data]    |   Unzipping misc/mwa_ppdb.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package nombank.1.0 to /root/nltk_data...
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nonbreaking_prefixes.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/opinion_lexicon.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package paradigms to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/paradigms.zip.
[nltk_data]    | Downloading package pe08 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pe08.zip.
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping misc/perluniprops.zip.
[nltk_data]    | Downloading package pil to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pil.zip.
[nltk_data]    | Downloading package pl196x to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pl196x.zip.
[nltk_data]    | Downloading package porter_test to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/porter_test.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/problem_reports.zip.
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_1.zip.
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_2.zip.
[nltk_data]    | Downloading package propbank to /root/nltk_data...
[nltk_data]    | Downloading package pros_cons to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pros_cons.zip.
[nltk_data]    | Downloading package ptb to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ptb.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package qc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/qc.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package rslp to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/rslp.zip.
[nltk_data]    | Downloading package rte to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/rte.zip.
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/sample_grammars.zip.
[nltk_data]    | Downloading package semcor to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentence_polarity.zip.
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentiwordnet.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sinica_treebank.zip.
[nltk_data]    | Downloading package smultron to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/smultron.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/spanish_grammars.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/subjectivity.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package switchboard to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/switchboard.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package verbnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet.zip.
[nltk_data]    | Downloading package verbnet3 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet3.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wmt15_eval to /root/nltk_data...
[nltk_data]    |   Unzipping models/wmt15_eval.zip.
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/word2vec_sample.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2022 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet2022.zip.
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package ycoe to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ycoe.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [7]:
gutenberg.fileids()

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

Para cargar alguno de estos libros en variables y poder manipularlos directamente, podemos utilizar varios métodos.

- `gutenberg.raw` recupera el texto como una única cadena de caracteres.
- `gutenberg.words` recupera el texto tokenizado en palabras. El método devuelve una lista palabras.
- `gutenberg.sents` recupera el texto segmentado por oraciones. El método devuelve una lista de oraciones. Cada oración es a su vez una lista de palabras.
- `gutenberg.paras` recupera el texto  segmentado por párrafos. El método devuelve una lista de párrafos.  Cada párrafo es una lista de oraciones, cada oración es a su vez una lista de palabras.

In [22]:
import pandas as pd

In [33]:
cuento = open("/content/drive/MyDrive/3. PLN/cuento.txt", mode ="r")

In [8]:
# cargo la vesión 'cruda' de un par de libros. Como son libros del Proyecto Gutenberg, se trata de ficheros en texto plano
alice = gutenberg.raw("carroll-alice.txt")
print(alice[:200]) # imprimo los primeros 200 caracteres del libro de Alicia

bible = gutenberg.raw("bible-kjv.txt")
print(bible[:200]) # imprimo los primeros 200 caracteres de la Biblia

[Alice's Adventures in Wonderland by Lewis Carroll 1865]

CHAPTER I. Down the Rabbit-Hole

Alice was beginning to get very tired of sitting by her sister on the
bank, and of having nothing to do: once
[The King James Bible]

The Old Testament of the King James Bible

The First Book of Moses:  Called Genesis


1:1 In the beginning God created the heaven and the earth.

1:2 And the earth was without

In [15]:
u = gutenberg.words("bible-kjv.txt")
print(u[:50])

['[', 'The', 'King', 'James', 'Bible', ']', 'The', 'Old', 'Testament', 'of', 'the', 'King', 'James', 'Bible', 'The', 'First', 'Book', 'of', 'Moses', ':', 'Called', 'Genesis', '1', ':', '1', 'In', 'the', 'beginning', 'God', 'created', 'the', 'heaven', 'and', 'the', 'earth', '.', '1', ':', '2', 'And', 'the', 'earth', 'was', 'without', 'form', ',', 'and', 'void', ';', 'and']

In [9]:
# segmentamos el texto en palabras teniendo en cuenta los espacios 
bible_tokens = bible.split()
# cargamos la versión de la Biblia segmentado en palabras
bible_words = gutenberg.words("bible-kjv.txt")

# no da el mismo número de tokens
print(len(bible_tokens), len(bible_words))

print(bible_tokens[:100])
print("-----------------------------------------------")
print(bible_words[:100])

821133 1010654
['[The', 'King', 'James', 'Bible]', 'The', 'Old', 'Testament', 'of', 'the', 'King', 'James', 'Bible', 'The', 'First', 'Book', 'of', 'Moses:', 'Called', 'Genesis', '1:1', 'In', 'the', 'beginning', 'God', 'created', 'the', 'heaven', 'and', 'the', 'earth.', '1:2', 'And', 'the', 'earth', 'was', 'without', 'form,', 'and', 'void;', 'and', 'darkness', 'was', 'upon', 'the', 'face', 'of', 'the', 'deep.', 'And', 'the', 'Spirit', 'of', 'God', 'moved', 'upon', 'the', 'face', 'of', 'the', 'waters.', '1:3', 'And', 'God', 'said,', 'Let', 'there', 'be', 'light:', 'and', 'there', 'was', 'light.', '1:4', 'And', 'God', 'saw', 'the', 'light,', 'that', 'it', 'was', 'good:', 'and', 'God', 'divided', 'the', 'light', 'from', 'the', 'darkness.', '1:5', 'And', 'God', 'called', 'the', 'light', 'Day,', 'and', 'the', 'darkness']
-----------------------------------------------
['[', 'The', 'King', 'James', 'Bible', ']', 'The', 'Old', 'Testament', 'of', 'the', 'King', 'James', 'Bible', 'The', 'First', 'Book', 'of', 'Moses', ':', 'Called', 'Genesis', '1', ':', '1', 'In', 'the', 'beginning', 'God', 'created', 'the', 'heaven', 'and', 'the', 'earth', '.', '1', ':', '2', 'And', 'the', 'earth', 'was', 'without', 'form', ',', 'and', 'void', ';', 'and', 'darkness', 'was', 'upon', 'the', 'face', 'of', 'the', 'deep', '.', 'And', 'the', 'Spirit', 'of', 'God', 'moved', 'upon', 'the', 'face', 'of', 'the', 'waters', '.', '1', ':', '3', 'And', 'God', 'said', ',', 'Let', 'there', 'be', 'light', ':', 'and', 'there', 'was', 'light', '.', '1', ':', '4', 'And', 'God', 'saw', 'the', 'light', ',', 'that', 'it']

In [16]:
# cargo la versión de Alicia segmentada en palabras
alice_words = gutenberg.words("carroll-alice.txt")
print(alice_words[:20]) # imprimo las primeros 20 palabras
print(len(alice_words))

['[', 'Alice', "'", 's', 'Adventures', 'in', 'Wonderland', 'by', 'Lewis', 'Carroll', '1865', ']', 'CHAPTER', 'I', '.', 'Down', 'the', 'Rabbit', '-', 'Hole']
34110

In [17]:
# cargo la versión de Alicia segmentada en párrafos
alice_paras = gutenberg.paras("carroll-alice.txt")
print("Alice tiene", len(alice_paras), "párrafos")

# imprimo los cinco primeros
for para in alice_paras[:5]:
    print(para)
    print("-------------------")

Alice tiene 817 párrafos
[['[', 'Alice', "'", 's', 'Adventures', 'in', 'Wonderland', 'by', 'Lewis', 'Carroll', '1865', ']']]
-------------------
[['CHAPTER', 'I', '.'], ['Down', 'the', 'Rabbit', '-', 'Hole']]
-------------------
[['Alice', 'was', 'beginning', 'to', 'get', 'very', 'tired', 'of', 'sitting', 'by', 'her', 'sister', 'on', 'the', 'bank', ',', 'and', 'of', 'having', 'nothing', 'to', 'do', ':', 'once', 'or', 'twice', 'she', 'had', 'peeped', 'into', 'the', 'book', 'her', 'sister', 'was', 'reading', ',', 'but', 'it', 'had', 'no', 'pictures', 'or', 'conversations', 'in', 'it', ',', "'", 'and', 'what', 'is', 'the', 'use', 'of', 'a', 'book', ",'", 'thought', 'Alice', "'", 'without', 'pictures', 'or', 'conversation', "?'"]]
-------------------
[['So', 'she', 'was', 'considering', 'in', 'her', 'own', 'mind', '(', 'as', 'well', 'as', 'she', 'could', ',', 'for', 'the', 'hot', 'day', 'made', 'her', 'feel', 'very', 'sleepy', 'and', 'stupid', '),', 'whether', 'the', 'pleasure', 'of', 'making', 'a', 'daisy', '-', 'chain', 'would', 'be', 'worth', 'the', 'trouble', 'of', 'getting', 'up', 'and', 'picking', 'the', 'daisies', ',', 'when', 'suddenly', 'a', 'White', 'Rabbit', 'with', 'pink', 'eyes', 'ran', 'close', 'by', 'her', '.']]
-------------------
[['There', 'was', 'nothing', 'so', 'VERY', 'remarkable', 'in', 'that', ';', 'nor', 'did', 'Alice', 'think', 'it', 'so', 'VERY', 'much', 'out', 'of', 'the', 'way', 'to', 'hear', 'the', 'Rabbit', 'say', 'to', 'itself', ',', "'", 'Oh', 'dear', '!'], ['Oh', 'dear', '!'], ['I', 'shall', 'be', 'late', "!'"], ['(', 'when', 'she', 'thought', 'it', 'over', 'afterwards', ',', 'it', 'occurred', 'to', 'her', 'that', 'she', 'ought', 'to', 'have', 'wondered', 'at', 'this', ',', 'but', 'at', 'the', 'time', 'it', 'all', 'seemed', 'quite', 'natural', ');', 'but', 'when', 'the', 'Rabbit', 'actually', 'TOOK', 'A', 'WATCH', 'OUT', 'OF', 'ITS', 'WAISTCOAT', '-', 'POCKET', ',', 'and', 'looked', 'at', 'it', ',', 'and', 'then', 'hurried', 'on', ',', 'Alice', 'started', 'to', 'her', 'feet', ',', 'for', 'it', 'flashed', 'across', 'her', 'mind', 'that', 'she', 'had', 'never', 'before', 'seen', 'a', 'rabbit', 'with', 'either', 'a', 'waistcoat', '-', 'pocket', ',', 'or', 'a', 'watch', 'to', 'take', 'out', 'of', 'it', ',', 'and', 'burning', 'with', 'curiosity', ',', 'she', 'ran', 'across', 'the', 'field', 'after', 'it', ',', 'and', 'fortunately', 'was', 'just', 'in', 'time', 'to', 'see', 'it', 'pop', 'down', 'a', 'large', 'rabbit', '-', 'hole', 'under', 'the', 'hedge', '.']]
-------------------